html {
    font-size: 100%; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 87.5%; } }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 75%; } }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 112.5%; } }
  
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px); }
    80% {
      transform: translateX(20px); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px); }
    80% {
      transform: translateX(-20px); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  
  @keyframes rotate {
    0% {
      opacity: 0%;
      transform: scale(0.3) rotate(0deg); }
    60% {
      transform: scale(1.2) rotate(180deg); }
    100% {
      opacity: 1;
      transform: scale(1) rotate(360deg); } }
    .header__text-box {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media only screen and (max-width: 56.25em) {
          .header__text-box {
            text-align: center;
            padding-bottom: 3rem; } }
    

.hero-bg{
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url("../Images/tes.jpg") no-repeat 50% 25%; */
    /* background-image: linear-gradient(to right, rgba(25, 118, 210, 0.8), rgba(33, 150, 243, 0.8)), url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-0.3.5…EyMDd9&s=3a85730…&auto=format&fit=crop&w=1500&q=80); */
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right, rgba(25, 118, 210, 0.8), rgba(33, 150, 243, 0.8)), url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-0.3.5…EyMDd9&s=3a85730…&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3.75rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary {
        text-align: center; } }
    .heading-primary--main {
      display: block;
      font-size: 3.75rem;
      font-weight: 400;
      letter-spacing: 1.56rem;
      margin-left: -3px;
      animation: moveInLeft 1s ease-out; }
      @media only screen and (max-width: 56.25em) {
        .heading-primary--main {
          letter-spacing: .625rem;
          font-size: 3.125rem; } }
    .heading-primary--sub-1 {
      display: block;
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 1.375rem;
      margin-top: -0.25rem;
      margin-bottom: .625rem;
      animation: moveInRight 1s ease-out; }
      @media only screen and (max-width: 37.5em) {
        .heading-primary--sub-1 {
          letter-spacing: .68rem;
          margin-bottom: 1.25rem;
          margin-top: -.625rem; } }
    .heading-primary--sub-2 {
      display: block;
      font-weight: 300;
      letter-spacing: .625rem;
      animation: moveInBottom 1s ease-out; }
      .heading-primary--sub-2__bold {
        font-weight: 400; }
  
  .heading-secondary {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #1976d2, #2196f3);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .heading-secondary {
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary {
        font-size: 1.8rem; } }
  
  .heading-tertiary {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333; }

    .btn, .btn:link, .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        display: inline-block;
        border-radius: 6.25rem;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      
      .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }
        .btn:hover::after {
          transform: scale(1.2);
          opacity: 0; }
      
      .btn:active, .btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.3rem 0.625rem rgba(0, 0, 0, 0.2); }
      
      .btn--white {
        background-color: #fff;
          color: #25D366;  
        
        
      } 
      .btn--white::after {
          background-color: #fff;
          
        }
      
      .btn--green {
        background-color: #25D366;
        color: #fff; }
        .btn--green::after {
          background-color: #25D366; }
      
      .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 6.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s; }
      
      .btn--animated {
        animation: moveInBottom .4s ease-out .75s;
        animation-fill-mode: backwards; }
      
  