body.blog .section-blog-post .post-body p,
body.blog .section-blog-post .post-body ul,
body.blog .section-blog-post .post-body ol {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.25em;
  line-height: 1.58;
  margin-bottom: 1.25em;
  font-weight: 400;
  letter-spacing: -0.003em;
}

.author-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 90px;
  border-top: 3px solid #02ccba;
  border-left: 1px solid lightgray;
  transition-duration: 0.3s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.23);
}
.info {
  display: inline-block;
  margin-top: -10px;
  margin-left: 0px;
}
.pic-container {
  margin-top: -148px;
  padding: 30px;
  float: left;
}
.authorPic {
  display: flex;
  margin-top: 100px;
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}
